@import 'vars';
@import 'text';

@import 'header';
@import 'footer';

@import 'categories';
@import 'presentation';
@import 'map';

* {
  box-sizing: content-box;
}

body {
  display: flex;
  flex-flow: column;
  font-size: $rni-font-size;
}

header, footer, #presentation, #categories, #map {
  transform: skew(0deg, -1deg);
}

header {
  margin-top: -1em;
}

header > *, footer > *, #presentation > *, #categories > * {
  transform: skew(0deg, 1deg);
}
