header {
  background: url(../img/header-background.jpg) center left;
  background-size: cover;
  height: $rni-header-minheight;
  padding: $rni-padding 0 0 0;

  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-around;

  a {
    color: $rni-color-text;
    margin: 0;
    height: 100%;
  }

  a:hover {
    color: $rni-color-text;
    text-decoration: none;
  }

  h1 {
    max-width: 7em;
    margin: auto;
    margin-top: 0.5em;
    text-align: center;
    font-size: 3em;
    font-family: 'Ostrich Sans Inline';
    font-style: normal;
  }
}

header::after {
  content: ' ';
  display: block;
  border-bottom: 3px $rni-color-main solid;
  margin-top: 1em;
  transform: skew(0deg, -1deg);
}
